.unbounded {
    font-family: "Unbounded", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html,
body,
#root,
.container {
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
}

.mobile-top,
.mobile-middle,
.mobile-bottom {
    display: none;
}

.images {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
}

.images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
}



.left-images {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    bottom: 0;
    margin-left: 2%;
    margin-bottom: 2%;

}

.left-images div {
    width: 80px;
    height: 80px;
}

.imageContainer1,
.imageContainer2,
.imageContainer3 {
    width: 100%;
    height: 100%;
}

.imageContainer1 .image1,
.imageContainer2 .image2,
.imageContainer3 .image3,
.imageContainer4 .image4,
.imageContainer5 .image5,
.imageContainer6 .image6 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image1,
.image2,
.image3,
.image4,
.image5,
.image6 {
    display: none;
    scale: 1.5;
}

/* .image1 {
    scale: 1;
} */

.loadingscreen {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
}

.loading {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.loading {
    font-weight: bold;
    display: inline-block;
    font-family: monospace;
    font-size: 16px;
    clip-path: inset(0 3ch 0 0);
    animation: l 1s steps(4, jump-none) infinite;
}

@keyframes l {
    to {
        clip-path: inset(0)
    }
}

.firsthalf,
.secondhalf {
    background-color: antiquewhite;
    width: 100%;
    height: 100%;
}

.container {
    background-color: rgb(255, 249, 242);
    display: flex;
}


.rightcontent {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.rightcontent .nav {
    flex: 1
}

.rightcontent .nav .navbar {
    display: flex;
    margin-top: 2%;
    justify-content: space-evenly;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);

}

.rightcontent .nav .navbar p {
    font-size: 2vw;
    font-weight: 600;
    /* margin-bottom: 0; */
    margin: 0;
    /* cursor: pointer; */
}


.rightcontent .nav .navbar p:hover {
    cursor: pointer;
}

.rightcontent .group-image {
    width: 100%;
    height: 100%;
    flex: 1;
}

.rightcontent .group-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.leftcontent {
    padding-left: 2%;
    padding-right: 2%;
    /* padding-bottom: 2%; */
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.leftcontent .top {
    font-size: 16vw;
    font-family: 'unbounded';
    flex: 1;
    line-height: 16vw;
}

.leftcontent .top p {
    margin: 0;
    color: rgb(255, 92, 55);
}

.leftcontent .works {
    font-size: 0.5vw;
    margin: 0;
}

.leftcontent .kin {
    margin: 0;
    margin-left: 25%;
    font-size: 2vw;
    font-weight: 600;
}

.leftcontent .featured {
    display: flex;
    align-items: start;
    /* justify-content: space-between; */
}


.leftcontent .bottom {
    flex: 1;
    display: flex;
    justify-content: center;
    font-size: 0.7vw;
    align-items: end;
    gap: 100px;
    margin-bottom: 2%;
}

.leftcontent .bottom .year {
    color: grey
}

.leftcontent .bottom .address {
    font-weight: bold;
}

.leftcontent .bottom .links {
    display: flex;
    text-transform: uppercase;
    text-decoration: underline;
    flex-direction: column;
    justify-content: end;
}

.leftcontent .middle {
    margin-top: 10%;
    flex: 1;
}




@media only screen and (max-width:1224px) {
    .mobile-top {
        width: 100%;
        display: flex;
        box-sizing: border-box;
        padding: 2%;
        justify-content: space-between;
    }

    .mobile-top .top {
        font-size: 16vw;
        font-family: 'unbounded';
        flex: 1;
        line-height: 16vw;
    }

    .mobile-top .menu {
        font-size: 3vw;
        font-weight: 600;
        text-decoration: underline;
    }

    .mobile-top .top p {
        margin: 0;
        color: rgb(255, 92, 55);
    }

    .leftcontent {
        display: none;
    }

    .rightcontent {
        display: none;
    }

    .left-images div {
        width: 0px;
        height: 0px;
    }

    .mobile-middle {
        display: flex;
        margin-top: 15%;
        padding: 2%;
        box-sizing: border-box;
        justify-content: space-between;
        width: 100%;
    }

    .mobile-middle p {
        margin: 0;
    }

    .mobile-middle .links {
        text-decoration: underline;
        text-transform: uppercase;
    }

    .mobile-middle .middle-content {
        font-size: 2vw;
        display: flex;
        flex: 0.8;
        justify-content: space-between;
    }

    .mobile-middle .kin {
        font-size: 3vw;
        font-weight: 600;
    }

    .mobile-middle .links {
        display: flex;
        flex-direction: column;
    }


    .container {
        height: 100vh;
        flex-direction: column;
        box-sizing: border-box;
        /* justify-content: space-between; */
    }


    .mobile-bottom {
        margin-top: auto;
        width: 100%;
        display: block;
    }

    .mobile-bottom .group-image {
        width: 100%;
        height: 100%;
    }

    .mobile-bottom .group-image img {
        width: 100%;
        height: 100%;
    }


    /* .leftcontent .works {
        display: none;
    }

    .leftcontent .kin {
        font-size: 3vw;
        margin: 0;
    }

    .leftcontent .bottom {
        display: none;
    }

    .left-images {
        display: none;
    } */
}


@media only screen and (max-width:450px) {

    .mobile-top .top {
        font-size: 30vw;
        line-height: 30vw;
    }

    .mobile-top .menu {
        font-size: 6vw;
        line-height: 6vw;
    }

    .mobile-middle {
        flex-direction: column;
        margin: 0;
        gap: 10%;
    }

    .mobile-middle .middle-content {
        font-size: 3.5vw;
    }

    .mobile-middle .kin {
        font-size: 6vw;
    }

    .mobile-bottom {
        margin: 0;
    }

    .container {
        justify-content: space-between;
    }
}