html,
body,
#root,
.container {
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
}

.images {
    width: 100%;
    height: 100%;
}

.images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
}



.left-images {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    bottom: 0;
    margin-left: 2%;
    margin-bottom: 2%;

}

.left-images div {
    width: 100px;
    height: 100px;
}

.imageContainer1,
.imageContainer2,
.imageContainer3 {
    width: 100%;
    height: 100%;
}

.imageContainer1 .image1,
.imageContainer2 .image2,
.imageContainer3 .image3,
.imageContainer4 .image4,
.imageContainer5 .image5,
.imageContainer6 .image6 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image1,
.image2,
.image3,
.image4,
.image5,
.image6 {
    display: none;
    scale: 1.5;
}

/* .image1 {
    scale: 1;
} */

.loadingscreen {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
}

.firsthalf,
.secondhalf {
    background-color: antiquewhite;
    width: 100%;
    height: 100%;
}

.container {
    background-color: antiquewhite;
}